body {
    text-align: center;
    margin:50px 240px;
    background-image:url('bg_Argyle.jpg');
    border-radius: 10px;
  }

  .backcolor{
    border: 1px solid #f68080;
    border-radius: 10px;
    background-color:white;
    padding-top:20px;
    padding-bottom:20px;
    box-shadow: 5px 5px 10px rgba(123, 118, 118, 1.0);
   }
  

  /* チェックボックスのとこ */
  .container {
    display: flex;
    margin-left:100px;
    border-radius: 10px;
  }
  
  .element-container {
    border: 1px solid #000;
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
  }
  
  .checkbox-container {
    margin-left: 10px;
    border-radius: 10px;
  }
  
  .checkbox-label {
    margin-left: 5px;
    border-radius: 10px;
  }
  
  .form-group{
    border-radius: 10px;
}
  
textarea {
    height: 50px; /* 高さを指定 */
    width: 200px;  /* 幅を指定 */
  }